* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'mincraft';
    src: url('./Minecraft.ttf');
    font-weight: bold;

}

body {
    font-family: 'mincraft', Arial, Helvetica, sans-serif;

}

.wrapper {
    width: 100%;
    background: #f6f6f6;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

/* tools */

.row {
    display: flex;
}


/* game area */

.game-area {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area__game {
    height: 600px;
    background: red;
    width: 800px;
}

/* tile options */
.tile {
    width: 50px;
    height: 50px;
    background: lightblue;
    /* border: 2px solid yellow; */
}

.tile:hover {
    border: 1px solid white;
}


.tile[data-type="-1"] {
    background: lightblue;


}

.tile[data-type="0"] {
    background: url('./img/tiles/dirt.jpg');

}

.tile[data-type="1"] {
    background: url('./img/tiles/dirt-grass.jpg');

}

.tile[data-type="2"] {
    background: url('./img/tiles/leaves.jpg');

}

.tile[data-type="3"] {
    background: url('./img/tiles/wood.jpg');

}

.tile[data-type="4"] {
    background: url('./img/tiles/rock.jpg');

}

.tile[data-type="5"] {
    background: url('./img/tiles/water.jpg');

}



/* tools-sidebar */

.tools-sidebar {
    background: #333333;
    width: 20%;
    padding: 50px 10px;
    color: white;
    /* height: 100vh; */
}

.tool {
    padding: 10px;
    padding-bottom: 2px;
    text-align: center;
    width: 50%;
    font-size: 0.9em;
    /* font-weight: 700; */
    border: 2px solid white;
    transition: background 0.5s ease-in-out;
}

.tool:hover {
    background: blue;
}

.tool.active {
    background: blue;
    opacity: 0.7;
}

.tool.active.warning {
    background: red;
    opacity: 0.7;
}

.tool .img {
    height: 80%;
    width: 80%;
    margin: 0 auto;

    background: white;
}

.tool[data-tool="1"]>.img {
    background: url('./img/tools/shovel.png') no-repeat center center/cover;
}

.tool[data-tool="0"]>.img {
    background: url('./img/tools/pickaxe.png') no-repeat center center/cover;
}

.tool[data-tool="2"]>.img {
    background: url('./img/tools/axe.png') no-repeat center center/cover;
}



.tools-sidebar__toolsList {
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
    width: 80%;
    height: 100%;
    margin: auto;
}

.tools-sidebar__lastMindedTile {
    width: 25%;
    height: 50px;
    /* align-self: flex-end; */
    border: 2px solid white;
}

.tools-sidebar__lastMindedTile[data-type="-1"] {
    background: transparent;

}

.tools-sidebar__lastMindedTile[data-type="0"] {
    background: url('./img/tiles/dirt.jpg');

}

.tools-sidebar__lastMindedTile[data-type="1"] {
    background: url('./img/tiles/dirt-grass.jpg');

}

.tools-sidebar__lastMindedTile[data-type="2"] {
    background: url('./img/tiles/leaves.jpg');

}

.tools-sidebar__lastMindedTile[data-type="3"] {
    background: url('./img/tiles/wood.jpg');

}

.tools-sidebar__lastMindedTile[data-type="4"] {
    background: url('./img/tiles/rock.jpg');

}

.tools-sidebar__lastMindedTile[data-type="5"] {
    background: url('./img/tiles/water.jpg');

}