*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mincraft';
    src: url('./Minecraft.ttf');
    font-weight: bold;
}

body {
    font-family: 'mincraft', Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    background: #f6f6f6;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

/* tools */

.row {
    display: flex;
    flex-wrap: nowrap;
}

.reset {
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(to bottom, rgba(185, 43, 39, 1), rgba(0, 0, 0, 1));
    color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 10px;
}

.reset:hover {}

/* Menu */

.menu {
    width: 100%;
    height: 100vh;
    background: black url('https://eskipaper.com/images/minecraft-wallpaper-19.jpg') no-repeat center center/contain;
    position: relative;
}

.menu__btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(185, 43, 39, 1), rgba(0, 0, 0, 1));
    color: white;
    font-family: 'mincraft';
    font-size: 20px;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 2px 3px white;
    padding: 30px 60px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.menu__btn:hover {
    background: linear-gradient(to bottom, rgba(185, 43, 39, 0.9), rgba(0, 0, 0, 0.9));
}

/* game area */

.game-area {
    /* height: 100vh; */
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area__game {
    /* height: 600px; */
    background: transparent;
    width: 80%;
    justify-content: center;
}

.game-area__game .row {}

/* tile options */

.tile {
    /* flex: 1; */
    height: 8vh;
    width: 8vh;
    /* height: 50px; */
    background: lightblue no-repeat center center/cover;
}

.tile:hover {
    border: 1px solid white;
}

.tile[data-type="-1"] {
    background: lightblue;
}

.tile[data-type="0"] {
    background: url('./img/tiles/dirt.jpg') no-repeat center center/cover;
}

.tile[data-type="1"] {
    background: url('./img/tiles/dirt-grass.jpg') no-repeat center center/cover;
}

.tile[data-type="2"] {
    background: url('./img/tiles/leaves.jpg') no-repeat center center/cover;
}

.tile[data-type="3"] {
    background: url('./img/tiles/wood.jpg') no-repeat center center/cover;
}

.tile[data-type="4"] {
    background: url('./img/tiles/rock.jpg') no-repeat center center/cover;
}

.tile[data-type="5"] {
    background: url('./img/tiles/water.jpg') no-repeat center center/cover;
}

/* tools-sidebar */

.tools-sidebar {
    background: #333333;
    width: 20vw;
    padding: 50px 10px;
    color: white;
    /* height: 100vh; */
}

.tool {
    padding: 10px;
    padding-bottom: 2px;
    text-align: center;
    width: 50%;
    font-size: 0.9em;
    /* font-weight: 700; */
    border: 2px solid white;
    transition: background 0.5s ease-in-out;
}

.tool:hover {
    background: blue;
}

.tool.active {
    background: blue;
    opacity: 0.7;
}

.tool.active.warning {
    background: red;
    opacity: 0.7;
}

.tool .img {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    background: white;
    background-size: contain;
}

.tool[data-tool="1"]>.img {
    background: url('./img/tools/shovel.png') no-repeat center center/contain;
}

.tool[data-tool="0"]>.img {
    background: url('./img/tools/pickaxe.png') no-repeat center center/contain;
}

.tool[data-tool="2"]>.img {
    background: url('./img/tools/axe.png') no-repeat center center/contain;
}

.tools-sidebar__toolsList {
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
    width: 80%;
    height: 100%;
    margin: auto;
}

.tools-sidebar__lastMindedTile {
    width: 8vh;
    height: 8vh;
    /* align-self: flex-end; */
    border: 2px solid white;
}

.tools-sidebar__lastMindedTile[data-type="-1"] {
    background: transparent;
}

.tools-sidebar__lastMindedTile[data-type="0"] {
    background: url('./img/tiles/dirt.jpg') no-repeat center center/cover;
}

.tools-sidebar__lastMindedTile[data-type="1"] {
    background: url('./img/tiles/dirt-grass.jpg') no-repeat center center/cover;
}

.tools-sidebar__lastMindedTile[data-type="2"] {
    background: url('./img/tiles/leaves.jpg') no-repeat center center/cover;
}

.tools-sidebar__lastMindedTile[data-type="3"] {
    background: url('./img/tiles/wood.jpg') no-repeat center center/cover;
}

.tools-sidebar__lastMindedTile[data-type="4"] {
    background: url('./img/tiles/rock.jpg') no-repeat center center/cover;
}

.tools-sidebar__lastMindedTile[data-type="5"] {
    background: url('./img/tiles/water.jpg') no-repeat center center/cover;
}